In [20]:
import pandas as pd
import numpy as np
from numpy.random import randn

# Managing Incomplete Data

In [19]:
#Creating dataframe
stuff = {'A': [1,2,3], 'B': [4,np.nan,6], 'C': [7,np.nan,np.nan], 'D': [10,11,12]}
my_df = pd.DataFrame(stuff)
my_df

   A    B    C   D
0  1  4.0  7.0  10
1  2  NaN  NaN  11
2  3  6.0  NaN  12

In [18]:
print(my_df.dropna()) #Drop row with null values
print(my_df.dropna(axis=1)) #Drop column with null values
print(my_df)
print(my_df.dropna(thresh=2, axis=1)) #Will drop column with 2 null values
print(my_df.fillna(value="hello")) #Will fill all the null values with hello
print(my_df.fillna(value=my_df['B'].mean())) #We can use math functions as well
print(my_df.fillna(value=my_df['B'].min())) #We can use math functions as well
print(my_df.fillna(value=my_df['B'].max())) #We can use math functions as well
print(my_df.fillna(value=my_df['B'].sum())) #We can use math functions as well

   A    B    C   D
0  1  4.0  7.0  10
   A   D
0  1  10
1  2  11
2  3  12
   A    B    C   D
0  1  4.0  7.0  10
1  2  NaN  NaN  11
2  3  6.0  NaN  12
   A    B   D
0  1  4.0  10
1  2  NaN  11
2  3  6.0  12
   A      B      C   D
0  1    4.0    7.0  10
1  2  hello  hello  11
2  3    6.0  hello  12
   A    B    C   D
0  1  4.0  7.0  10
1  2  5.0  5.0  11
2  3  6.0  5.0  12
   A    B    C   D
0  1  4.0  7.0  10
1  2  4.0  4.0  11
2  3  6.0  4.0  12
   A    B    C   D
0  1  4.0  7.0  10
1  2  6.0  6.0  11
2  3  6.0  6.0  12
   A     B     C   D
0  1   4.0   7.0  10
1  2  10.0  10.0  11
2  3   6.0  10.0  12

# Group by

In [31]:
stuff2 = {
    'Coorporation': ['Apple', 'Google', 'Meta', 'Apple', 'Google', 'Meta,'],
    # 'Employees': ['John', 'April', 'Wes', 'Beth', 'Justin', 'Steph'],
    'Salary' : [200, 220, 190, 130, 120, 150]
}
my_df2 = pd.DataFrame(stuff2)
print(my_df2)
company = my_df2.groupby('Coorporation')
print(company)
print(company.sum())
print(company.mean()) #to run this remove employees from stuff2 dict
print(company.max()) #to run this remove employees from stuff2 dict
print(company.min()) #to run this remove employees from stuff2 dict
print(company.std()) #to run this remove employees from stuff2 dict
print(company.var()) #to run this remove employees from stuff2 dict
print(company.count()) #to run this remove employees from stuff2 dict
print(company.describe()) #to run this remove employees from stuff2 dict

  Coorporation  Salary
0        Apple     200
1       Google     220
2         Meta     190
3        Apple     130
4       Google     120
5        Meta,     150
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000019CD29730B0>
              Salary
Coorporation
Apple            330
Google           340
Meta             190
Meta,            150
              Salary
Coorporation
Apple          165.0
Google         170.0
Meta           190.0
Meta,          150.0
              Salary
Coorporation
Apple            200
Google           220
Meta             190
Meta,            150
              Salary
Coorporation
Apple            130
Google           120
Meta             190
Meta,            150
                 Salary
Coorporation
Apple         49.497475
Google        70.710678
Meta                NaN
Meta,               NaN
              Salary
Coorporation
Apple         2450.0
Google        5000.0
Meta             NaN
Meta,            NaN
              Salary
Coorporation
Apple              2
Google             2
Meta               1
Meta,              1
             Salary
              count   mean        std    min    25%    50%    75%    max
Coorporation
Apple           2.0  165.0  49.497475  130.0  147.5  165.0  182.5  200.0
Google          2.0  170.0  70.710678  120.0  145.0  170.0  195.0  220.0
Meta            1.0  190.0        NaN  190.0  190.0  190.0  190.0  190.0
Meta,           1.0  150.0        NaN  150.0  150.0  150.0  150.0  150.0