In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

# Trying basic methods and series

In [ ]:
my_series = [4,5,6,7]
my_var = pd.Series(my_series)
print(my_var)
print(my_var[2])
my_index = ['A' , 'B', 'C', 'D']
my_var2 = pd.Series(my_series, my_index)
print(my_var2)
print(my_var2["C"])

0    4
1    5
2    6
3    7
dtype: int64
6
A    4
B    5
C    6
D    7
dtype: int64
6

In [ ]:
#Using Dictionary
cars = {"BMW": 42, "Audi": 8, "Tesla": 86}
my_var3 = pd.Series(cars)
print(my_var3)

BMW      42
Audi      8
Tesla    86
dtype: int64

# Dataframes

In [9]:
my_data = randn(4, 4) #Rows Columns (will generate random number in rows and columns)
my_rows = ['A', 'B', 'C', 'D']
my_cols = ["Monday", "Tuesday", "Wednesday", "Thursday"]

#Create dataframe
my_df = pd.DataFrame(my_data, my_rows, my_cols)
print(my_df)

#Import a csv file
my_df2 = pd.read_csv('dog_data.csv')
print(my_df2)

#Pulling out rows from csv dataframe
print(my_df2.loc[0])
print(my_df2.loc[[0, 2]])

     Monday   Tuesday  Wednesday  Thursday
A -0.903116 -1.388243   1.789452  1.049436
B -0.130716  0.198137   0.756844  1.052647
C -1.007833  0.193588   0.002066 -1.184150
D  0.876511 -1.347601  -0.686426 -0.171527
                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]
Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object
           Breed    Color  DogName  OwnerZip
0       COCKAPOO    BROWN  CHARLEY     15236
2  BELG MALINOIS  BRINDLE     EICH     15238

# Viewing Data

In [ ]:
print(my_df2.head())
print(my_df2.head(8))
print(my_df2.tail())
print(my_df2.tail(7))
print(my_df2.info())
print("")
print(my_df2.describe())
print("")
print(my_df2['Breed'].describe())
print("")
print(my_df2["DogName"])
print(my_df2.Breed)
print(my_df2.iloc[:, 1])

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139
                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN             TACODA     15238
2        BELG MALINOIS      BRINDLE               EICH     15238
3                MIXED  BLACK/BROWN              ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5     SCOTTISH TERRIER        BLACK             BAILEY     15129
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7        DACHSHUND MIX  WHITE/BROWN              LEROI     15101
                  Breed              Color        DogName  OwnerZip
2665       GOLDENDOODLE              BROWN        WINSLOW     15044
2666  YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667            LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668       GOLDENDOODLE              WHITE       CLARENCE     15143
2669  SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136
                   Breed              Color        DogName  OwnerZip
2663  LABRADOR RETRIEVER              BROWN           NINO     15102
2664  COCKER SPANIEL MIX        WHITE/BLACK           JACK     15102
2665        GOLDENDOODLE              BROWN        WINSLOW     15044
2666   YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667             LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668        GOLDENDOODLE              WHITE       CLARENCE     15143
2669   SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     2670 non-null   object
 1   Color     2665 non-null   object
 2   DogName   2669 non-null   object
 3   OwnerZip  2670 non-null   int64
dtypes: int64(1), object(3)
memory usage: 83.6+ KB
None

           OwnerZip
count   2670.000000
mean   15268.109738
std     2747.560641
min    15003.000000
25%    15102.000000
50%    15136.000000
75%    15227.000000
max    97206.000000

count      2670
unique      185
top       MIXED
freq        235
Name: Breed, dtype: object

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object
0                  COCKAPOO
1              GER SHEPHERD
2             BELG MALINOIS
3                     MIXED
4       AM PIT BULL TERRIER
               ...
2665           GOLDENDOODLE
2666      YORKSHIRE TERRIER
2667                LAB MIX
2668           GOLDENDOODLE
2669      SHETLAND SHEEPDOG
Name: Breed, Length: 2670, dtype: object
0                   BROWN
1             BLACK/BROWN
2                 BRINDLE
3             BLACK/BROWN
4             WHITE/BROWN
              ...
2665                BROWN
2666          BLACK/BROWN
2667    WHITE/BLACK/BROWN
2668                WHITE
2669                BLACK
Name: Color, Length: 2670, dtype: object

# Counting Data

In [ ]:
print(my_df2["Color"].value_counts()) #total item count
print(my_df2["Color"].value_counts(normalize=True) * 100) #Relative frequency - percentage
print(my_df2["Color"].value_counts()['WHITE']) #Specific item count

Color
BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BLACK/ORANGE/BRINDLE      1
BROWN/ORANGE              1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: count, Length: 72, dtype: int64
Color
BLACK                   13.921201
BROWN                   11.594747
WHITE                    8.480300
WHITE/BLACK              7.354597
BLACK/BROWN              6.866792
                          ...
BLACK/ORANGE/BRINDLE     0.037523
BROWN/ORANGE             0.037523
BROWN/FAWN               0.037523
BLACK/BROWN/GREY         0.037523
BROWN/LIVER              0.037523
Name: proportion, Length: 72, dtype: float64
226

# Adding Columns

In [29]:
my_df3 = pd.read_csv('dog_data_short.csv')
gender = ["Male", "Male", "Female", "Male", "Female"] #Good for small data set
my_df3["Gender"] = gender
print(my_df3)
my_df3["Alive/Dead"] = [True]*len(my_df3) #For adding default values
print(my_df3)
my_df3.insert(1, "Adopted", [True]*len(my_df3), True) #for inserting a column at specific position
print(my_df3)
#just like insert there is an assign method which creates a new dataframe while adding a new column
# and keeping the original as it is.

                 Breed        Color  DogName  OwnerZip  Gender
0             COCKAPOO        BROWN  CHARLEY     15236    Male
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238    Male
2        BELG MALINOIS      BRINDLE     EICH     15238  Female
3                MIXED  BLACK/BROWN    ARROW     15104    Male
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  Female
                 Breed        Color  DogName  OwnerZip  Gender  Alive/Dead
0             COCKAPOO        BROWN  CHARLEY     15236    Male        True
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238    Male        True
2        BELG MALINOIS      BRINDLE     EICH     15238  Female        True
3                MIXED  BLACK/BROWN    ARROW     15104    Male        True
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  Female        True
                 Breed  Adopted        Color  DogName  OwnerZip  Gender  \
0             COCKAPOO     True        BROWN  CHARLEY     15236    Male
1         GER SHEPHERD     True  BLACK/BROWN   TACODA     15238    Male
2        BELG MALINOIS     True      BRINDLE     EICH     15238  Female
3                MIXED     True  BLACK/BROWN    ARROW     15104    Male
4  AM PIT BULL TERRIER     True  WHITE/BROWN   OAKLEY     15139  Female

   Alive/Dead
0        True
1        True
2        True
3        True
4        True

# Deletion

In [30]:
print(my_df3.drop("Alive/Dead", axis=1, inplace=True)) #it will delete it temporarily if you want to delete it permanently
#use another argument inplace=True
# To delete columns use axis=1 argument to delete rows axis=0 or nothing
print(my_df3.drop(3))
print(my_df3.drop(2, axis=0))
print(my_df3.drop("Gender", axis=1))

None
                 Breed  Adopted        Color  DogName  OwnerZip  Gender
0             COCKAPOO     True        BROWN  CHARLEY     15236    Male
1         GER SHEPHERD     True  BLACK/BROWN   TACODA     15238    Male
2        BELG MALINOIS     True      BRINDLE     EICH     15238  Female
4  AM PIT BULL TERRIER     True  WHITE/BROWN   OAKLEY     15139  Female
                 Breed  Adopted        Color  DogName  OwnerZip  Gender
0             COCKAPOO     True        BROWN  CHARLEY     15236    Male
1         GER SHEPHERD     True  BLACK/BROWN   TACODA     15238    Male
3                MIXED     True  BLACK/BROWN    ARROW     15104    Male
4  AM PIT BULL TERRIER     True  WHITE/BROWN   OAKLEY     15139  Female
                 Breed  Adopted        Color  DogName  OwnerZip
0             COCKAPOO     True        BROWN  CHARLEY     15236
1         GER SHEPHERD     True  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS     True      BRINDLE     EICH     15238
3                MIXED     True  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER     True  WHITE/BROWN   OAKLEY     15139

# Grab row point subset

In [8]:
print(my_df3.loc[2]) #To access with key
print(my_df3.iloc[3]) #To access with index
print(my_df3.loc[1, "DogName"]) #A specifc value my_df.loc["Row", "Column"]
print(my_df3.loc[[1, 3], ["Color", "Breed"]]) #Subsets - my_df.loc[['row', 'row'], ["Column", "Column"]]

Breed       BELG MALINOIS
Adopted              True
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Gender             Female
Name: 2, dtype: object
Breed             MIXED
Adopted            True
Color       BLACK/BROWN
DogName           ARROW
OwnerZip          15104
Gender             Male
Name: 3, dtype: object
TACODA
         Color         Breed
1  BLACK/BROWN  GER SHEPHERD
3  BLACK/BROWN         MIXED

# Conditional Selection

Single Conditional

In [12]:
print(my_df2[my_df2 == "BROWN"]) #To filter only BROWN color dogs
print(my_df2[my_df2 == "BROWN"]["Color"]) #To filter only BROWN color dogs and show only color column

     Breed  Color DogName  OwnerZip
0      NaN  BROWN     NaN       NaN
1      NaN    NaN     NaN       NaN
2      NaN    NaN     NaN       NaN
3      NaN    NaN     NaN       NaN
4      NaN    NaN     NaN       NaN
...    ...    ...     ...       ...
2665   NaN  BROWN     NaN       NaN
2666   NaN    NaN     NaN       NaN
2667   NaN    NaN     NaN       NaN
2668   NaN    NaN     NaN       NaN
2669   NaN    NaN     NaN       NaN

[2670 rows x 4 columns]
0       BROWN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
2665    BROWN
2666      NaN
2667      NaN
2668      NaN
2669      NaN
Name: Color, Length: 2670, dtype: object

Multiple Conditional

In [17]:
print(my_df2[(my_df2["Color"] == "BROWN") & (my_df2["Breed"] == "MIXED")]) #AND
print(len(my_df2[(my_df2["Color"] == "BROWN") & (my_df2["Breed"] == "MIXED")])) #Length
print(my_df2[(my_df2["Color"] == "BROWN") | (my_df2["Breed"] == "MIXED")]) #OR
print(len(my_df2[(my_df2["Color"] == "BROWN") | (my_df2["Breed"] == "MIXED")])) #Length
print(my_df2[(my_df2["Color"] == "BROWN") | (my_df2["Breed"] == "MIXED")]["DogName"]) #Return a specific column

      Breed  Color        DogName  OwnerZip
42    MIXED  BROWN         STELLA     15044
272   MIXED  BROWN           HANK     15220
371   MIXED  BROWN          TEDDY     15136
402   MIXED  BROWN      GEORGIOUS     15212
505   MIXED  BROWN        HERSHEY     15071
523   MIXED  BROWN  MINDY MAZUREK     15037
572   MIXED  BROWN          STEVE     15229
584   MIXED  BROWN           BEAR     15122
602   MIXED  BROWN          CHLOE     15106
818   MIXED  BROWN         PEANUT     15025
943   MIXED  BROWN        DEE DEE     15031
946   MIXED  BROWN           SAGE     15035
948   MIXED  BROWN          BELLA     15035
995   MIXED  BROWN         MISTER     15139
1006  MIXED  BROWN        VANESSA     15065
1042  MIXED  BROWN           JACK     15223
1123  MIXED  BROWN         BUDDIE     15122
1195  MIXED  BROWN         COOPER     15071
1204  MIXED  BROWN            POE     15044
1211  MIXED  BROWN          EPPEY     15218
1258  MIXED  BROWN           BLUE     15235
1322  MIXED  BROWN         PHOEBE     15025
1466  MIXED  BROWN          JAXIE     15229
1476  MIXED  BROWN          PIPPA     15122
1659  MIXED  BROWN         ISABEL     15044
1780  MIXED  BROWN         WILBUR     15202
1798  MIXED  BROWN           PINO     15139
1847  MIXED  BROWN         MICKEY     15227
2180  MIXED  BROWN           KONA     15102
2351  MIXED  BROWN          BELLA     15209
2393  MIXED  BROWN         PEANUT     15143
2403  MIXED  BROWN           TOBY     15237
2430  MIXED  BROWN           LUCY     15229
2441  MIXED  BROWN          CASEY     15120
2524  MIXED  BROWN         PEANUT     15227
2562  MIXED  BROWN           JEFF     15146
2581  MIXED  BROWN           BRAX     15143
2597  MIXED  BROWN         BAILEY     15065
38
                   Breed        Color           DogName  OwnerZip
0               COCKAPOO        BROWN           CHARLEY     15236
3                  MIXED  BLACK/BROWN             ARROW     15104
12      AM PITT BULL MIX        BROWN              KING     15235
15                 MIXED        WHITE             RUSTY     15120
25            BEAGLE MIX        BROWN  CHRISTINA "TINA"     15025
...                  ...          ...               ...       ...
2657        GER SHEPHERD        BROWN             SARAH     15239
2658               MIXED        WHITE              LUNA     15017
2660              PUGGLE        BROWN              MACY     15044
2663  LABRADOR RETRIEVER        BROWN              NINO     15102
2665        GOLDENDOODLE        BROWN           WINSLOW     15044

[506 rows x 4 columns]
506
0                CHARLEY
3                  ARROW
12                  KING
15                 RUSTY
25      CHRISTINA "TINA"
              ...
2657               SARAH
2658                LUNA
2660                MACY
2663                NINO
2665             WINSLOW
Name: DogName, Length: 506, dtype: object

# Reset Index

In [31]:
my_df3["Frame"] = ["Dog1", "Dog1", "Dog1", "Dog1", "Dog1"]
print(my_df3)
my_df3.set_index("Frame", inplace=True) #set the index to frame
print(my_df3)
my_df3.reset_index(inplace=True)
print(my_df3)
my_df3.drop("Frame", axis=1, inplace=True)
print(my_df3)

                 Breed  Adopted        Color  DogName  OwnerZip  Gender Frame
0             COCKAPOO     True        BROWN  CHARLEY     15236    Male  Dog1
1         GER SHEPHERD     True  BLACK/BROWN   TACODA     15238    Male  Dog1
2        BELG MALINOIS     True      BRINDLE     EICH     15238  Female  Dog1
3                MIXED     True  BLACK/BROWN    ARROW     15104    Male  Dog1
4  AM PIT BULL TERRIER     True  WHITE/BROWN   OAKLEY     15139  Female  Dog1
                     Breed  Adopted        Color  DogName  OwnerZip  Gender
Frame
Dog1              COCKAPOO     True        BROWN  CHARLEY     15236    Male
Dog1          GER SHEPHERD     True  BLACK/BROWN   TACODA     15238    Male
Dog1         BELG MALINOIS     True      BRINDLE     EICH     15238  Female
Dog1                 MIXED     True  BLACK/BROWN    ARROW     15104    Male
Dog1   AM PIT BULL TERRIER     True  WHITE/BROWN   OAKLEY     15139  Female
  Frame                Breed  Adopted        Color  DogName  OwnerZip  Gender
0  Dog1             COCKAPOO     True        BROWN  CHARLEY     15236    Male
1  Dog1         GER SHEPHERD     True  BLACK/BROWN   TACODA     15238    Male
2  Dog1        BELG MALINOIS     True      BRINDLE     EICH     15238  Female
3  Dog1                MIXED     True  BLACK/BROWN    ARROW     15104    Male
4  Dog1  AM PIT BULL TERRIER     True  WHITE/BROWN   OAKLEY     15139  Female
                 Breed  Adopted        Color  DogName  OwnerZip  Gender
0             COCKAPOO     True        BROWN  CHARLEY     15236    Male
1         GER SHEPHERD     True  BLACK/BROWN   TACODA     15238    Male
2        BELG MALINOIS     True      BRINDLE     EICH     15238  Female
3                MIXED     True  BLACK/BROWN    ARROW     15104    Male
4  AM PIT BULL TERRIER     True  WHITE/BROWN   OAKLEY     15139  Female