In [15]:
import numpy as np
import pandas as pd
my_df=pd.read_csv('data.csv')
my_df

      name  colour  number
0    emily    blue     234
1    jason   green     345
2    jacob   white     567
3     jack  purple     678
4     emma  yellow     789
5   justin  orange     547
6     rust   black     354
7      rue   brown     232
8    hilda     NaN     653
9   carmen  silver     323
10    jake     red     112
11    john     red     234
12    emma    blue     123
13   jason   green     222
14    john     red     235

In [3]:
#count distinct values descending
my_df['colour'].value_counts()

colour
red       3
blue      2
green     2
white     1
purple    1
yellow    1
orange    1
black     1
brown     1
silver    1
Name: count, dtype: int64

In [4]:
#count dintinct value ascending
my_df['name'].value_counts(ascending=True)

name
emily     1
jacob     1
jack      1
justin    1
rust      1
rue       1
hilda     1
carmen    1
jake      1
jason     2
emma      2
john      2
Name: count, dtype: int64

In [5]:
#null values
my_df['colour'].value_counts(dropna=False)

colour
red       3
blue      2
green     2
white     1
purple    1
yellow    1
orange    1
black     1
brown     1
NaN       1
silver    1
Name: count, dtype: int64

In [6]:
#percentage = normalising
my_df['colour'].value_counts(normalize=True)

colour
red       0.214286
blue      0.142857
green     0.142857
white     0.071429
purple    0.071429
yellow    0.071429
orange    0.071429
black     0.071429
brown     0.071429
silver    0.071429
Name: proportion, dtype: float64

In [7]:
#one item
my_df['colour'].value_counts()['red']

3

In [10]:
my_df.groupby('colour').size()

colour
black     1
blue      2
brown     1
green     2
orange    1
purple    1
red       3
silver    1
white     1
yellow    1
dtype: int64

In [11]:
my_df.groupby('colour').count()

        name  number
colour
black      1       1
blue       2       2
brown      1       1
green      2       2
orange     1       1
purple     1       1
red        3       3
silver     1       1
white      1       1
yellow     1       1

In [16]:
my_df.apply(pd.value_counts)

C:\Users\Bhavika\AppData\Local\Temp\ipykernel_11432\1638052197.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  my_df.apply(pd.value_counts)
C:\Users\Bhavika\AppData\Local\Temp\ipykernel_11432\1638052197.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  my_df.apply(pd.value_counts)
C:\Users\Bhavika\AppData\Local\Temp\ipykernel_11432\1638052197.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  my_df.apply(pd.value_counts)

TypeError: '<' not supported between instances of 'int' and 'str'