In [1]:
import numpy as np
import pandas as pd
my_df=pd.read_csv('dog.csv')
my_df

      breed   colour    name  zip
0  cockapoo    brown    anna  123
1    g shep    black  hannah  234
2   bel mal  brindle   sarah  345
3     mixed    brown    leah  456
4   ptibull    white    lola  567

In [2]:
my_df.loc[2]

breed     bel mal
colour    brindle
name        sarah
zip           345
Name: 2, dtype: object

In [3]:
my_df.iloc[4]#for index location

breed     ptibull
colour      white
name         lola
zip           567
Name: 4, dtype: object

In [5]:
my_df.loc[2,"name"]#[rows,columns]

'sarah'

In [6]:
my_df.loc[[0,2,3],["colour","zip"]]

    colour  zip
0    brown  123
2  brindle  345
3    brown  456